*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

.portfolio-container{
   min-height:100vh;
   width:100%;
   display:flex;

}
.navlist{
    display:flex;
    gap:3.5rem;
    height:15vh;
    /* background: red; */
    justify-content:center;
    align-items:center;
    position:fixed;
   

}
.navlist li{
    list-style: none;
  

    
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color:white;
    position: relative;
    

}
.left-container,.right-container{
    height:100vh;
    display:flex;
    align-items: center;
}
.left-container{
    background: #262525;
    width:70%;
    padding-left:3rem;
    

}
.right-container{
    background:linear-gradient(-45deg,#3877ff,#262525 70%);
    width:30%;


}
.icons .fa-brands{
    color:white;
    font-size: 1.7rem;

}
.icons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.icons .fa-brands:hover{
    background: linear-gradient(#fff,#5db9ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.content{
    margin-left: 4rem;

}
.content .intro{
    font-size: 1.5rem;
    color:white;

}
.content .intro span{
    color:#5db9ee;
}
.content h1{
    font-size: 4rem;
    color:#5db9ee;
}
.content .detail{
    color:white;
    font-size: 1.1rem;
    max-width: 38rem;
    margin: 1.1.rem 0 3rem 0;
    line-height: 1.8rem;

}
.btn-container button{
   border:.1rem solid #5db9ee;
   font-size: 1.1rem;
   padding:.8rem 1.5rem;
   border-radius: .5rem;
   cursor: pointer;
   transition: .5s ease;
   background: #3877ff;
   color:#fff;
   margin-left: 2rem;


}
.btn-container button:hover{
    background: transparent;
    font-weight:bold;
    font-family: sans-serif;;
    color:#5db9ee;

    
}

/* button:nth-child(1){
    background-color:#5db9ee;

}
button:nth-child(2){
    background: transparent;
    margin-left: 2rem;

    
}
button:nth-child(1):hover{
    background: transparent;
    color:#5db9ee;
}
button:nth-child(2):hover{
    background: transparent;
    color:#5db9ee; */
/* } */

.design .circle{
    aspect-ratio:1;
    position:absolute;
    border-radius: 50%;
    top:50%;
    left:70%;
    transform: translate(
-50%,-50%);
}
.circle:nth-child(1){
    background:linear-gradient(90deg,transparent 50%,#262525 50%);
    width:38rem;
}
.circle:nth-child(2){
    /* background: white; */
    background-image:url("m.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    width:25rem;
    border:1rem solid white;
    box-shadow:
    0 0 1rem #fff,inset 
    0 0 1rem #fff,
    0 0 2rem #3877ff,
    inset 0 0 2rem #3877ff,0 0 4rem #3877ff,
    inset 0 0 4rem #3877ff;

}
.navlist li a::after, .navlist .active::after{
    content:"";
    position:absolute;
    background: #fff;
    width:100%;
    height:.1rem;
    left:0;
    bottom:-5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;


}
.navlist li a:hover::after , .navlist .active::after{
    transform: scaleX(1);
    transform-origin: bottom left;

}

